@charset "UTF-8";
body {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: rgb(167, 217, 240);
  text-align: center;
  padding: 20px 0;
}

main {
  flex: 1;
}

footer {
  background-color: #333;
  color: rgb(167, 217, 240);
  text-align: center;
}
