@charset "UTF-8";
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: aliceblue;
}

header {
  background-color: #333;
  color: #a7d9f0;
  text-align: center;
  padding: 20px 0;
}

header a,
footer a {
  color: #a7d9f0;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
  color: #f33;
}

header ul {
  list-style: none;
}

main {
  flex: 1;
  max-width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1em;
}

li {
  margin-bottom: 15px;
}

article h2 {
  border-left: 10px solid #333;
  border-bottom: 1px solid #333;
  padding-left: 0.5em;
  margin: 10px 0;
}

section {
  margin: 20px 0;
  padding-bottom: 40px;
}

.shortcut {
  box-shadow: 5px 5px 5px #333;
  padding: 3px;
  background-color: #a7d9f0;
  color: #181a2f;
  line-height: 2em;
}

.img-exp {
  border: solid 1px #333;
}

footer {
  background-color: #333;
  color: #a7d9f0;
  text-align: center;
}

/* index.htmlのリンクの装飾 */
.deco a {
  text-decoration: none;
  color: #181a2f;
  /* -webkit-text-stroke: 1px #333;
  text-stroke: 1px #333;
  font-weight: bold; */
}

.deco a:hover {
  text-decoration: underline;
  color: #f33;
}

.search-option li {
  display: flex;
}
